.root {
  margin-top: 32px;

  @media screen and (max-width: 1204px) {
    margin-top: 48px;
  }

  @media screen and (max-width: 648px) {
    margin-top: 64px;
  }

  @media screen and (max-width: 575px) {
    margin-top: 16px;
  }
}